<div class="row">
    <div class="col-md-12">
        <div class="card" ng-show="showCustomers">
            <div class="card-header" data-background-color="blue">
                <div class="row form-group">
                    <div class="col-md-6">
                        <h4 class="title">Customers</h4>
                        <p class="category">Customer: Information</p>
                    </div>
                    <div class="col-md-6">
                        <span ng-controller="custController">
                            <button type="button" class="btn btn-white pull-right" ng-click="add()">ADD NEW</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-content content-holder">
                <div ng-repeat="customera in customers">
                    <div class="col-md-3">
                        <customer class="cust" data="customera"></customer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>