<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{customer.name}}</h3>
</div>

<div class="modal-body" id="modal-body">
    <input type="hidden" ng-model="customer.id">
    <div class="row">
        <div class="col-md-4">Name:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Contact:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.contact">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Email:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Phone:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.phone">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">City:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.address.city">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Address:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.address.name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Zip code:</div>
        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="customer.address.zipCode">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Status:</div>
        <div class="col-md-7">
            <label class="radio-inline">
                <input type="radio" ng-model="customer.statusCustomer" value="0">Prospect</label>
            <label class="radio-inline">
                <input type="radio" ng-model="customer.statusCustomer" value="1">Client</label>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-info" type="button" ng-click="save(customer)" data-dismiss="modal">
        Save
    </button>
    <button class="btn btn-default btn-simple" type="button" ng-click="cancel()" data-dismiss="modal">
        Cancel
    </button>
    <!-- <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancel()">CLOSE</button>
    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="save(customer)">SAVE</button> -->
</div>